[submodule "nvim"]
	path = nvim
	url = git@github.com:esskayesss/dots_nvim.git
	branch = main
[submodule "kanagawa-qbtheme"]
	path = kanagawa-qbtheme
	url = git@github.com:esskayesss/kanagawa-qbtheme
